language: java
jdk:
  -openjdk10


install:
  - git clone --depth=1 https://github.com/n1k0/casperjs.git /tmp/casperjs
  - export PATH=$PATH:/tmp/casperjs/bin

script: "mvn cobertura:cobertura"

after_success:
    - bash <(curl -s https://codecov.io/bash)
    
